@import "tailwindcss";

@layer base {
  html,
  body,
  #root {
    background-color: #0B1120;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    color-scheme: dark;
  }

  body {
    overflow-x: hidden;
  }
}